CREATE TABLE contact_messages (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT NOT NULL,
    subject TEXT NOT NULL,
    message TEXT NOT NULL,
    status TEXT DEFAULT 'unread',
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

ALTER TABLE contact_messages ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Anyone
can
insert
contact
messages\ ON contact_messages
    FOR INSERT WITH CHECK (true);

CREATE POLICY \Only
HQ
admins
can
view
messages\ ON contact_messages
    FOR SELECT USING (auth.jwt() ->> 'role' = 'hq_admin');

